<div class="container">
  <div class="row">
    <div class="col-sm" >
      <mat-card>
        <mat-card-header>
          <mat-card-title><h2>CAGR Calculator</h2></mat-card-title>
        </mat-card-header>
        <i class="fas fa-chart-bar card-icon cagr"></i>
        <mat-card-content>
          <p >
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card  >
        <mat-card-header>
          <mat-card-title><h2>Car Loan Calculator</h2></mat-card-title>
        </mat-card-header>
        <i class="fas fa-car card-icon car"></i>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card >
        <mat-card-header>
          <mat-card-title><h2>Currency calculator</h2></mat-card-title>
        </mat-card-header>
        <i class="fas fa-hand-holding-usd card-icon currency"></i>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm" >
      <mat-card>
        <mat-card-header>
          <mat-card-title><h2>Mortgage Refinance Calculator</h2></mat-card-title>
        </mat-card-header>
        <i class="fas fa-home card-icon mrc"></i>
        <mat-card-content>
          <p >
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card  >
        <mat-card-header>
          <mat-card-title><h2>Savings Calculator</h2></mat-card-title>
        </mat-card-header>
        <i class="fas fa-piggy-bank card-icon savings"></i>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card >
        <mat-card-header>
          <mat-card-title><h2>Credit Card Payment Calculator</h2></mat-card-title>
        </mat-card-header>
        <i class="fab fa-cc-visa card-icon credit-card"></i>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
