<div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-card routerLink="ytat-hashvich">
        <mat-card-header>
          <mat-card-title>
            <h2>ԸՏԱՏ Հաշվիչ</h2>
          </mat-card-title>
        </mat-card-header>
        <i class="fas fa-chart-bar card-icon cagr"></i>
        <mat-card-content>
          <p>Օգտագօրծեք այս ընդհանուր տարեկան աճի տեմպի (ԸՏԱՏ) հաշվիչը որպեսզի ստանաք ներդրումների տարեկան աճի տեմպը -
            տոկոսային եկամուտ՝ որը ձեռք կբերեք նախնական ներդրումներից մինչեւ ապագա արժեք. </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card routerLink="bard-tokosi-hashvich">
        <mat-card-header>
          <mat-card-title>
            <h2>Բաղադրյալ(Բարդ) Տոկոսների Հաշվիչ</h2>
          </mat-card-title>
        </mat-card-header>
        <i class="fas fa-percent card-icon percent"></i>
        <mat-card-content>
          <p>
            Օգտագործեք մեր օգտակար հաշվիչները՝ <b>ձեր խնայողությունների բարդ տոկոսը հաշվելու համար</b> ամսական եկամուտի
            կտրվածքով ՝ ինճպես նաև ներառել կանոնավոր ամսական ավանդները կամ գումարները (կենսաթոշակային հաշվարկներ եւ
            այլն):Օգտագործեք երկրորդ հաշվիչը պարզ միանվագ խնայողության գումարի վրա տոկոսները հաշվարկելու համար : Բարդ
            տոկոսի հաշվարկման բանաձեւը դուք կարող եք գտնել այստեղ:
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card routerLink="avtomeqenayi-varki-hashvich">
        <mat-card-header>
          <mat-card-title>
            <h2>Ավտոմեքենայի վարկի հաշվիչ</h2>
          </mat-card-title>
        </mat-card-header>
        <i class="fas fa-car card-icon currency"></i>
        <mat-card-content>
          <p>
            Դուք ցանկանում եք ձեռք բերել նոր մեքենա կամ վերաֆինանսավորել գոյություն ունեցող տրանսպորտային միջոցի վարկը
            ՞։ Օգտագործեք այս ավտոմեքենայի վարկային հաշվիչը `ամսական մարման գործակիցները ստնալու համար:
            Մուտքագրեք մեքենայի արժեքը՝ տարեկան տոկոսադրույքը (տոկոսը)՝ տարիների քանակը և ցանկացած նախնական կանխավճար
            կամ վերջնական միանվագ վճարումներ:
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-card routerLink="varkayin-qarteri-vcharman-hashvich">
        <mat-card-header>
          <mat-card-title>
            <h2>Վարկային քարտերի վճարման հաշվիչ</h2>
          </mat-card-title>
        </mat-card-header>
        <i class="fab fa-cc-visa card-icon credit-card"></i>
        <mat-card-content>
          <p>
            Օգտագործեք այս վարկային քարտի մարման հաշվիչները մշակելու համար արդյունավետ ռազմավարություն ձեր կրեդիտ քարտի
            պարտքը մարելու համար:Հաշվարկեք, թե որքան ժամանակ կպահանջվի, որպեսզի վճարեք ձեր վարկային քարտի մնացորդը:
            Որպես այլընտրանք կարող եք օգտագործել երկրորդ հաշվիչը պարզելու համար, թե ինչքան պետք է վճարեք ամսեկան ձեր
            քարտի վարկը ամբողջությամբ մարելու համար:
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2>Savings Calculator</h2>
          </mat-card-title>
        </mat-card-header>
        <i class="fas fa-piggy-bank card-icon savings"></i>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2>Credit Card Payment Calculator</h2>
          </mat-card-title>
        </mat-card-header>
        <i class="fab fa-cc-visa card-icon credit-card"></i>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
